:root {
    --table-border-color: #dee2e6;
    --tab-slot-color: #BEF5A4;
    --tab-drag-color: #D5F5C6;
    --submit-slot-color: #7BE19A;
    --view-slot-color: #FFA473;
    --view-drag-slot-color: #FF825C;
    --view-request-received-slot-color: #7B8FE0;
    --warning-color: #FF2601;
    --competition-rate-1: #fdf7f5;
    --competition-rate-2: #f3eae6;
    --competition-rate-3: #f8ddd0;
    --neutral-color: #EFEFEF;
    --darker-grey: #A9A9A9;
    /* --tab-color:#FFF396;
        --competition-rate-1: #ffe4a3;
    --tab-color-hover:#FFEE47; */
}

/* common */
.outbox {
    width: 100%;
    text-align: center;
}

.tabbox {
    position: fixed;
    width: 960px;
    margin-top: 45px;
    padding: 6.5px;
    background-color: var(--table-border-color);
    border-color: var(--tab-color);
    z-index: 6;
}
.fixed-top {
    height: 45px;
}
.navbar-nav {
    position: absolute;
    left: 540px;
}
.nav-down {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#inbox_count {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 385px; 
    top: 23px;
    background-color: dimgray;
    border-radius: 30%;
    width: 12px;
    text-align: center;
    color: white;
}
#inbox {
    position: fixed;
    width: 340px;
    right: 5px;
}
#reward {
    position: fixed;
    width: 340px;
    right: 5px;
}
#reward_count {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 430px;
    top: 23px;
    background-color: dimgray;
    border-radius: 30%;
    width: 12px;
    text-align: center;
    color: white;
}
.close {
    border: none;
    padding: 2px 3px;
    width: 15px;
    background-color: none;
    color: dimgrey;
    
    text-align: center;
    padding: 2px 3px;
    margin: 0px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.close:hover {
    font-weight: bold;
    color: black;
}
.inbox_content_row {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-bottom: 1px solid var(--table-border-color);
    list-style-type: none;
    overflow:auto;
}
.inbox_img{
    padding:3px;
    width:45px;
    height:45px
}
.caption {
    margin: 3px;
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
    width: 50px;
    display:inline-block;
    float: left;
}
.img_text {
    width: 260px;
    display: inline-block;
    float: left;
    margin-top:5px;
}
.inbox_content_header {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 3px;
    list-style-type: none;
    font-weight: bold;
    border-bottom: 2px solid var(--table-border-color);
}

#inbox.li:hover{
    font-weight:bold;
}
.nav-down a{
    cursor: pointer;
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight: bold;
}


.hide {
    display: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 2px solid var(--table-border-color);
    background-color: white;
    padding-left: 0px;
    position: absolute;
    text-align: center;
    top: 50px;
    z-index:30;
}
ul.visible {
    display: block;
}
.nav-item{
    margin-right:10px;
}

.nav-link {
    font-size: 14px;
    cursor: pointer;
}

.nav-item-active {
    font-weight: bold;
}

.top-placeholder {
    position: fixed;
    top: 45px;
    width: 100%;
    height: 45px;
    background-color: white;
}
.container {
    font-family: 'Open Sans', sans-serif;
    margin-left:100px !important;
}
.textbox {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

/* view page */

.container-view {
    padding-top: 91px;
}


/* time table */

.table {
    table-layout: fixed;
    width: 960px;
}

.table thead th {
    text-align: center;
    border: none;
}

.table td {
    border-top: none;
    font-size: 11px;
    padding: 5px;
}

.timetable-header {
    /* position: fixed; */
    height: 45px;
    text-align: center;
    border-bottom: 2px solid var(--table-border-color);
    background-color: white;
}

.timetable-header-dates {
    font-size: 14px;
    font-weight: bold;
}

.timetable-row {
    height: 25px;
}

.timetable-axis-entry {
    text-align: right;
}

.timetable-hour-entry {
    border-bottom: 1px dashed var(--table-border-color);
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
}

.timetable-half-entry {
    border-bottom: 1px solid var(--table-border-color);
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
}

.timetable-tab-slot {
    background-color: var(--tab-slot-color) !important;
    border-bottom: var(--tab-slot-color);
    text-align: center;
}

.timetable-tab-drag-slot {
    background-color: var(--tab-drag-color) !important;
    border-bottom: var(--tab-drag-color);
    text-align: center;
}

.timetable-submit-slot {
    background-color: var(--submit-slot-color);
    border-bottom: var(--submit-slot-color);
    text-align: center;
}

.timetable-view-slot {
    background-color: var(--view-slot-color);
    border-bottom: var(--view-slot-color);
    text-align: center;
}

.timetable-view-drag-slot {
    background-color: var(--view-drag-slot-color);
    border-bottom: var(--view-drag-slot-color);
    text-align: center;
}

.timetable-view-request-received-slot {
    background-color: var(--view-request-received-slot-color);
    border-bottom: var(--view-request-received-slot-color);
    text-align: center;
}
.timetable-rate-1 {
    background-color: var(--competition-rate-1);
}
.timetable-rate-2 {
    background-color: var(--competition-rate-2);
}
.timetable-rate-3 {
    background-color: var(--competition-rate-3);
}
/* login */
.button {
    border: none;
    background-color: var(--view-slot-color);
    padding: 5px 12px;
    margin: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: var(--view-drag-slot-color);
    color: white;
}
.login {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.login td {
    padding: 6px;
}
.fileSubmit {
    overflow: hidden;
    display: block;
    float: center;
    text-align: center;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: 2px solid var(--view-drag-slot-color);
    cursor: pointer;
    color: black;
    border-radius: .5em;
    padding: .5em;
    width: 70%;
    margin: auto;
}
    .fileSubmit [type=file] {


        filter: alpha(opacity=0);
        min-height: 0%;
        min-width: 0%;
        opacity: 0;
        position: absolute;

    }
