/* submit page */

.helper_ex {
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    bottom: 500px;
    margin-left: 1000px;
    z-index: 50;
    width: 300px;
    border: 2px solid var(--darker-grey);
    padding: 5px;
    display: none;
    background-color: white;
}

.helper_ex_button {
  border: none;
  background-color: var(--darker-grey);
  /* border: 0.1px solid white; */
  padding: 1px 4px 0px 4px; /*top right bottom left*/
  margin-top: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.helper_ex_button:hover {
  background-color: var(--tab-slot-color);
  color: white;
  box-shadow: 0.5px -0.5px 1px grey;
}



.progress-bar {
  color: white;
  box-shadow: 1px -1px 2px grey;
}
.progress {
  box-shadow: 1px -1px 2px grey;
  /* border: solid var(--darker-grey) 1px; */
}

.progress-bar_tab {
  background-color: var(--tab-slot-color);
}

.progress-bar_submit {
  background-color: var(--submit-slot-color);
}
#division {
  /* color: var(--submit-slot-color); */
  text-shadow: 0.5px -0.5px 0.5px grey;
}
#division:hover {
  cursor: pointer;
  position: relative;
}
#expectation {
  /* color: var(--submit-slot-color); */
  text-shadow: 0.5px -0.5px 0.5px grey;
	font-size:14px;
}
#expectation:hover {
  /* cursor: pointer;
  position: relative; */
  /* text-decoration: underline; */
}
.fa-question-circle {cursor: pointer;}

/* [data-toggle="tooltip"]:hover:after {
  background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);
} */

.tabbox {
    padding: 5.5px;
    padding-left: 120px;
    /* text-align: left; */
    position: fixed;
    width: 960px;
    margin-top: 45px;
    border-radius: 0;
    background-color: white;
    border-color: var(--tab-color);
    z-index: 6;
}

.smtable_container {
    padding-top: 37px;
}

.smtable_contentcontainer {
    padding-top: 165px; /* 109=> 91//151=>133*/
}

.tabbutton {
    border: solid var(--darker-grey) 1px;
    border-bottom: none;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;

    width: 90px;
    background-color: var(--light-table-border-color);
    padding: 5px 5px;
    color: var(--darker-grey-2);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabbutton:hover{
    background-color: var(--tab-slot-color);
    box-shadow: 1px -1px 2px grey;
    color: white;
    text-shadow: -0.5px 0 var(--darker-grey), 0 0.5px var(--darker-grey), 0.5px 0 var(--darker-grey), 0 -0.5px var(--darker-grey);
}
.tabbutton_active{
    background-color: var(--tab-slot-color);
    transform: translateY(1px);
    box-shadow: 1px -1px 2px grey;
    color: black;
}
/* .btn:active {
        background-color: #FF8C00;
        box-shadow: 0 5px #808080;
        transform: translateY(4px);
    } */

.fa-times {cursor: pointer;}


.tabsubmitbutton {
    border: solid var(--darker-grey) 1px;
    border-bottom: none;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;

    width: 100px;
    background-color: var(--light-table-border-color);
    padding: 5px 5px;
    color: var(--darker-grey-2);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabsubmitbutton:hover{
    background-color: var(--submit-slot-color);
    box-shadow: 1px -1px 2px grey;
    color: white;
    text-shadow: -0.5px 0 var(--darker-grey), 0 0.5px var(--darker-grey), 0.5px 0 var(--darker-grey), 0 -0.5px var(--darker-grey);
}

.tabsubmitbutton_active{
    background-color: var(--submit-slot-color);
    transform: translateY(1px);
    box-shadow: 1px -1px 2px grey;
    color: black;
}

.submitbutton {
    border: solid var(--darker-grey) 1px;
    /* border-color:var(--warning-color); */
    background-color: #FFFFFF;
    padding: 5px 5px;
    color: var(--darker-grey-2);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.submitbutton:hover{
    background-color: var(--view-drag-slot-color);
    box-shadow: 1px -1px 2px grey;
    color: white;
    text-shadow: -0.5px 0 var(--darker-grey), 0 0.5px var(--darker-grey), 0.5px 0 var(--darker-grey), 0 -0.5px var(--darker-grey);
}

.resetbutton {
    border: solid var(--darker-grey) 1px;
    background-color: #FFFFFF;
    padding: 5px 5px;
    color: var(--darker-grey-2);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.resetbutton:hover{
    background-color: var(--warning-color);
    box-shadow: 1px -1px 2px grey;
    color: white;
    text-shadow: -0.5px 0 var(--darker-grey), 0 0.5px var(--darker-grey), 0.5px 0 var(--darker-grey), 0 -0.5px var(--darker-grey);
}
