/* view page */

.outbox {
  width: 100%;
  text-align: center;
 }
.inbox {
  /* border-style: dashed;
  display: inline-block; */
 }

.tabbox {
  position: fixed;
  width: 75%;
  margin-top: 45px;
  padding: 6.5px;
  left:16%;
  background-color: var(--table-border-color);
  border-color: var(--tab-color);
  z-index: 6;
}

.smtable_container {
    padding-top: 42px;
}

.smtable_contentcontainer {
    padding-top: 133px; /* 109=> 91//151=>133*/
}

.tabbutton {
    border: solid 1px;
    background-color: var(--table-border-color);
    padding: 2px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabbutton:hover{
    background-color: var(--tab-slot-color);
    color: black;
}

.tabsubmitbutton {
    border: solid 1px;
    background-color: var(--table-border-color);
    padding: 2px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabsubmitbutton:hover{
    background-color: var(--submit-slot-color);
    color: black;
}
