/* view page */





.smtable_container {
    padding-top: 42px;
}

.smtable_contentcontainer {
    padding-top: 133px; /* 109=> 91//151=>133*/
}

.tabbutton {
    border: solid 1px;
    background-color: var(--table-border-color);
    padding: 2px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabbutton:hover{
    background-color: var(--tab-slot-color);
    color: black;
}
.tabbutton:active{
    background-color: var(--tab-slot-color);
    color: black;
}

.fa-times {cursor: pointer;}


.tabsubmitbutton {
    border: solid 1px;
    background-color: var(--table-border-color);
    padding: 2px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tabsubmitbutton:hover{
    background-color: var(--submit-slot-color);
    color: black;
}

.submitbutton {
    border: solid 1px;
    /* border-color:var(--warning-color); */
    background-color: #FFFFFF;
    padding: 2px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.submitbutton:hover{
    background-color: var(--view-drag-slot-color);
    color: black;
}
#timetable {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  border-bottom: 5px solid var(--warning-color);
  border-left: 5px solid var(--warning-color);
  border-right: 5px solid var(--warning-color);
}
#timetable-header-submit {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 5px solid var(--warning-color);
  border-left: 5px solid var(--warning-color);
  border-right: 5px solid var(--warning-color);
  /* border-bottom: 2px solid var(--table-border-color); */
}
/* #timetable-submit {
  margin: 5px;
  border-bottom: 4px solid var(--warning-color);
  border-left: 4px solid var(--warning-color);
  border-right: 4px solid var(--warning-color);
} */
