.table-style .today {background: #2A3F54; color: #ffffff;}
.table-style th:nth-of-type(7),td:nth-of-type(7) {color: blue;}
.table-style th:nth-of-type(1),td:nth-of-type(1) {color: red;}
.table-style tr:first-child th{background-color:#F6F6F6; text-align:center; font-size: 15px;}

.bg-info {
	background-color: var(--view-slot-color) !important;
}
.col-md-12 {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}
.col-md-2 {
	font-family: 'Open Sans', sans-serif;
}
.topmargin{
	margin-top: 4rem !important;
}
.p-0{
	text-align: center;
}
.danger {
	z-index: 100;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	width:400px;
	position: absolute;
	left:600px;
	top:0px;
}
#goal-input{
	width:120px;
}
#set-zone-1 {
	display: none;
}
#set-zone {
	display: none;
}
#goal-zone {
	display: none;
}


.helper_ex_button {
  border: none;
  background-color: var(--darker-grey);
  /* border: 0.1px solid white; */
  padding: 1px 4px 0px 4px; /*top right bottom left*/
  margin-top: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}


.helper_ex_button:hover {
  background-color: var(--view-drag-slot-color);
  color: white;
  box-shadow: 0.5px -0.5px 1px grey;
}


.helper_ex {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    /*bottom: 150px;*/
    margin-top: 15px;
    margin-right: 10px;
    z-index: 50;
    /*width: 180px;*/
    border: 2px solid var(--darker-grey);
    padding: 5px;
    display:  none;
    background-color: white;
}


